
.likecom {
    position: absolute;
    display: flex;
}
.comment, .like, .share {
    width: 1%;
    height: auto;
    padding-left: 150px;
    padding-top: 910px;
}

.post-box {
    margin-top: 70px;
    justify-content: start;
    align-items: start;
    margin-left: 350px;
}
.post-image {
    max-width: 100%;
}
.searchbar {
    height: 40px;
    width: 700px;
    border-radius: 20px;
    text-align: center;
    background-color: #fff;
    font-size: 18px;
    border: 1px solid #ccc;
    padding: 0 4px;
    margin-top: -50px;
    position: fixed;
    margin-left: 320px;
}
