
.rightup {
  margin-top: -740px;
  margin-left: 710px;
  width: 800px;
  height: 100px;
  border: 2px solid black;
  border-radius: 20px;
  display: flex;
}
.friends {
  font-weight: 600;
  padding-top: 8px;
  padding-left: 20px;
  justify-content: left;
}
.mini_icon {
  display: flex;
  gap: 10px; /* Space between images */
  margin-top: 30px;
  margin-left: -60px; 
}
.mini_icon img {
  width: 70px;
  height: 70px;
  object-fit: cover; /* Ensures the image covers the element without stretching */
  clip-path: circle(40% at 40% 50%);
  border-radius: 50%;

}

.post_area {
  margin-left: 350px;
  display: flex;
  justify-content: center; /* Center the grid within the post area */
}

.postingrid {
  display: grid;
  width: 50%;
  grid-template-columns: repeat(3, 1fr); /* 5 columns */
  grid-template-rows: repeat(3, auto);
  gap: 20px;
}

.postingrid img {
  border-radius: 10px;
  width: 100%;
  height: auto; /* Maintain the aspect ratio */
}


.profile_post {
  margin-left: 730px;
  margin-top: 20px;
  font-size: 25px;
  
}
body {
  overflow-x: hidden;
}