body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(to right, #e6e6fa, #ffffff); /* Gradient from light violet to white */
}

html {
    height: 100%;
}

.left-content-log {
    height: 100vh; /* Full viewport height */
    width: 340px; /* Increased width to accommodate the extra width of search bar */
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: left;
    background: inherit; /* Inherit the background from the body */
}

h1 {
    color: #6a0dad;
    margin-bottom: 80px;
    font-size: 45px;
    margin-top: 0px;
    margin-left: 20px;
}

.menu {
    display: grid;
    width: 60%;
    gap: 30px;
    margin-left: 20px;
}

.but {
    font-size: 20px;
    color: #6a0dad; /* Dark violet */
    padding: 8px 10px;
    border-radius: 20px;
    background-color: #f0f0f5;
    text-align: center;
    cursor: pointer;
}

.but:hover {
    background-color: #dcdcdc; /* Lighter shade */
}

.logout_but {
    font-size: 20px;
    color: white;
    background-color: #6a0dad; /* Dark violet */
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.logout_but:hover {
    background-color: #5a0bad; /* Slightly darker violet */
}

