/* Global Styles */
body {
    background-color: #f5f5f5; /* Light background for contrast */
    font-family: Arial, sans-serif;
}


.profile-picture {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}





/* Interaction Buttons */
.interaction-buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}



/* Rightmat */
.profile-logo {
    position: fixed;
    top: 20px;
    right: 30px;
    border-radius: 50%;
    width: 140px;
    height: auto;
    box-shadow: 0 0 20px 5px rgba(133, 5, 225, 0.5);
    /* border: 3px solid #8400ff; 
    background-color: #f0e6fa;  */
}

.active-users {
    display: grid;
    gap: 35px;
    position: fixed;
    top: 60%;
    right: 20px;
    transform: translateY(-50%);
}

.active-user {
    border-radius: 50%;
    width: 60px;
    box-shadow: 0 0 20px 5px rgba(0, 177, 15, 0.5); /* Violet fade effect */
}
