.logdet {
    padding-top: 200px;
    font-size: 45px;
    padding-left: 600px;
    font-family: 'Courier New', Courier, monospace;
}

#input {
    padding-left: 700px;
}

.usernames {
    top: 60px;
    position: relative;
    width: 600px;
    height: 60px;
    border-radius: 10px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
.password {
    top: 100px;
    position: relative;
    width: 600px;
    height: 60px;
    border-radius: 10px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

h1 {
    color: rgb(137, 56, 249);
    font-size: 200px;
}

.logposL {
    padding-left: 700px;
    padding-top: 60px;
  }
  
  button {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }
  
  .logposL img {
    width: 80px;
    height: auto;
    box-shadow: none;
    border: none;
    outline: none;
    display: block;
  }
  
.register-box {
    margin-left: 900px;
    padding-left: 35px;
    margin-top: 40px;
    padding-top: 20px;
    border-radius: 20px;
    width: 180px;
    height: 40px;
    background-color: rgb(175, 92, 242);
}